# Disable directory browsing 
Options -Indexes

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Permitir que las solicitudes OPTIONS pasen sin redireccionar
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]

    # Forzar sin barra al final
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Redirección si se usa www (opcional, puedes quitar si no aplica)
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

    # Permitir archivos reales
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Peticiones a rutas API → index.php (CodeIgniter)
    RewriteCond %{REQUEST_URI} ^/(api|vision|auth|backend) [NC]
    RewriteRule ^ index.php [L]

    # Rutas frontend Vue → index.html
    RewriteRule ^ index.html [L]

    # Pasar Authorization header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>

# Disable server signature
ServerSignature Off
